extends layout 

block content 

    .container
        h2(class='mt-3') #{author.name}

        ul 
            for record in records 
                li 
                    a(href=`${record.url}` class='h4') #{record.name}
        hr
        p 
            a(href=author.url+'/delete') Delete author
        p
            a(href=author.url+'/update') Update author