extends layout 

block content 
    h1 #{title}: #{category.name}
    
    if category_items.length

        p #[strong Delete the following albums before attempting to delete this category.]

        div(style='margin-left:20px;margin-top:20px;')

            h4 Albums

            dl
            each album in category_items
                dt 
                    a(href=album.url) #{album.name}
                dd #{album.name}
    else
        p Do you really wish to delete this category?

        form(method='POST' action='')
            .form-group 
                input#categoryid.form-control(type='hidden' name='categoryid' required='true' value='category._id')
            button.btn.btn-primary(type='submit') Delete