extends layout 

block content 

    .container
        h2(class='mt-3')  #{format.name}

        ul
            for item in items 
                li 
                    a(href=`${item.url}` class='h4') #{item.name}
        hr
        p 
            a(href=format.url+'/delete') Delete format
        p
            a(href=format.url+'/update') Update format